{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block content %}

<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
  <p class="lead">Balance: {{user_balance}}</p>

  <form method="POST">
    <div><label>Add Amount <input type="number" name="add_balance_form" value="" /></label></div>
    <input type="submit" value="Confirm Add">
  </form>

  <form method="POST">
    <div><label>Withdrawl Amount <input type="number" name="withdrawl_balance_form" value=""/></label></div>
    <input type="submit" value="Confirm Withdrawl">
  </form>

</div>

{% endblock %}