{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block content %}

<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
  <p class="lead">Enter credentials below to log in</p>

  <form method="POST">
    <div><label>Username <input type="text" name="username_form" value="" required /></label></div>
    <div><label>Password <input type="text" name="password_form" value="" required /></label></div>

    <input type="submit" value="Log In">
  </form>
  <p>{{ failed_login_message }}</p>

  <p><a href="{{ url_for('create_account') }}" ><button class=grey style="height:75px;width:150px;margin-top:25px">Create Account</button></a></p>

</div>


<footer style="margin-top:250px">  
  <p><a class="column" href="{{ url_for('metrics') }}" ><button class=grey style="height:30px;width:150px;margin-bottom:0px">Store Metrics One</button></a></p>
  <p><a class="column" href="{{ url_for('metrics2') }}" ><button class=grey style="height:30px;width:150px;margin-bottom:0px">Store Metrics Two</button></a></p>

</footer>
{% endblock %}