{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block content %}

<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
  <p class="lead">Resupply</p>
  <p class="lead">Items:</p>

  {% for item in owned_products %}
    <p> {{ item }} </p>
  {% endfor %}

  <form method="POST">
     <div><label>ID of Item to restock: <input type="number" name="item_form" value="" /></label></div>
     <div><label>Quantity of Item: <input type="number" name="amount_form" value=""/></label></div>
     <input type="submit" value="Deliver">
  </form>

</div>

{% endblock %}