{% extends 'base.html' %}

{% block title %}Landing{% endblock %}

{% block content %}

<div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
  <p class="lead">Shop</p>


  {% for item in owned_products %}
  <p> {{ item }} </p>
  {% endfor %}

  <form method="POST">
    <div><label>ID of Item to purchase <input type="number" name="item" value="" required /></label></div>
    <div><label>Quantity <input type="number" name="quantity" value="" required/></label></div>
    <input type="submit" value="Purchase">
 </form>

 <p><a href="{{ url_for('return_to_home') }}" ><button class=grey style="height:75px;width:150px;margin-top:25px">Home</button></a></p>


</div>

{% endblock %}